@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    
    .sidebar-icon {
        @apply relative flex items-center justify-center 
        h-12 w-12 mt-2 mb-2 mx-auto
        text-gray-900
        transition-all duration-200 ease-linear
        cursor-pointer;
    }

    .sidebar-tooltip {
        @apply absolute w-auto p-2 m-2 min-w-max left-12 rounded-sm shadow-md
        text-gray-900 bg-white
        z-50
        text-xs font-bold 
        transition-all duration-100 scale-0 origin-left;
    }

    .topbar-tooltip {
        @apply absolute w-auto p-2 mt-2 min-w-max right-0 rounded-sm shadow-md
        text-gray-900 bg-white
        z-50
        text-xs font-bold 
        transition-all duration-100 scale-0 origin-left;
    }

}

body {
    overflow: hidden;
}

h1, p, button, a {
    white-space: pre-line;
}

::-webkit-scrollbar {
    width: 0px;
}
  
::-webkit-scrollbar-track {
    background: #ffffff;
}
  
::-webkit-scrollbar-thumb {
    background: rgb(199, 199, 199);
    border-radius: 999px;
}
  
::-webkit-scrollbar-thumb:hover {
    background: #555;
}